.tweets {
  width: auto;
  max-width: 100%;
}
.tweets > * {
  transition: ease-in-out transform 0.2s !important;
}

.post.twitter .top {
  display: flex;
}

.tweet {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 12px !important;
  /*padding: 20px 20px 50px;
  width: calc(100% / 2 - 20px);
  margin: 10px;*/
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.tweet a {
  display: block;
}
.tweet .avatar,
.post .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.tweet .public-metrics {
  display: flex;
}
.tweet .public-metrics .metric > *:first-child {
  margin-right: 5px;
}
.tweet .tweet-text {
  position: relative;
  z-index: 1;
  word-break: break-word;
}
.tweet .tweet-text a {
  color: #000000;
}
.tweet .media-image {
  max-height: 375px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet .media-image img {
  height: auto;
  margin: auto;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/*
* user card
*/
.tweet.user {
  cursor: pointer;
}
.tweet.user .avatar {
  width: 145px;
  height: 145px;
  min-width: 145px;
}
.tweet.user .avatar img {
  width: 100%;
}
.tweet.user .verified {
  margin-left: 10px;
}
.tweet.user .username {
  word-break: break-word;
}

@media (prefers-color-scheme: dark) {
  .tweet {
    border: none !important;
    background-color: rgb(30, 32, 33) !important;
    color: #ffffff !important;
  }
  .tweet a {
    color: #ffffff;
  }
  .username {
    color: rgb(210, 193, 156);
  }
}

@media (prefers-color-scheme: light) {
  .tweet {
    border: none !important;
    color: #000000 !important;
    background-color: #ffffff !important;
  }
  .tweet a,
  .tweet .author h6 {
    color: #000000 !important;
  }
  .tweet .public-metrics svg {
    fill: #888888;
  }
  .username {
    color: #000000;
  }
}

@media screen and (min-width: 769px) {
  .twitter-tab {
    margin-right: -12px;
  }
  .tweets > *:hover {
    transform: translateY(-5px);
  }
  .tweets > *:hover,
  .tweet.user:hover {
    background-color: rgba(210, 193, 156, 0.2) !important;
  }
  .card-layout .tweet .media-image {
    max-height: none;
  }
  .card-layout .tweet .media-image img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .tweets {
    margin: 0 !important;
    height: auto !important;
  }
  .tweet {
    width: 100% !important;
    margin: 8px 0 !important;
  }
  .tweet.user {
    margin-top: 50px !important;
  }
  .MuiBox-root .twitter-tab {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .tweet.user .avatar {
    width: 75px;
    height: 75px;
    min-width: 75px;
  }
  .tweet.user .username {
    padding-left: 0;
    padding-top: 15px;
  }
  .tweet.user .username h5 {
    font-size: 1.3rem;
  }
  .tweet.user .username h6 {
    font-size: 14px;
  }
}
