.filter {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.filter .active-display {
  padding: 14px 20px;
  width: 175px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.filter .active-display .MuiSvgIcon-root {
  position: absolute;
  right: 20px;
}
.filter .filter-options {
  padding: 0;
  margin: 0;
  width: 200px;
  border-radius: 12px;
  list-style: none;
  position: absolute;
  z-index: 2;
  top: 75px;
  overflow: hidden;
  max-height: 0;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  transition: max-height 0.3s ease;
}
.filter .filter-options.active {
  max-height: 700px;
}
.filter .filter-options > * {
  padding: 14px 20px;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  position: relative;
}
.filter .filter-options .filter-name {
  position: relative;
  z-index: 1;
}
.filter .filter-options .MuiRadio-root {
  padding: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

@media (prefers-color-scheme: dark) {
  .filter .active-display {
    background-color: #131516;
  }
  .filter .filter-options {
    background-color: #131516;
  }
  .filter .active-display {
    border: 1px solid #2d2f2f;
  }

  .filter .active-display:hover,
  .filter .filter-options > *:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .filter .MuiRadio-root svg {
    fill: rgb(210, 193, 156);
  }
}

@media (prefers-color-scheme: light) {
  .filter .active-display,
  .filter .filter-options {
    background-color: #ffffff;
  }

  .filter .active-display {
    border: 1px solid #eaeaea;
  }
  .filter .active-display:hover,
  .filter .filter-options > *:hover {
    background-color: #faf8f4;
  }
  .filter .MuiRadio-root svg {
    fill: #999999;
  }
}
