.search-input {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  overflow: hidden;
}
.search-input input {
  padding: 8px 8px 8px 60px;
  height: 45px;
  border-radius: 16px;
  font-size: 16px;
}
.search-input input::placeholder {
  font-size: 16px;
}
.search-input .MuiFilledInput-root::after {
  border: none;
}
.search-input .MuiFilledInput-root:before {
  border: none !important;
}
.search .search-icon {
  font-size: 30px;
  left: 16px;
}

@media (prefers-color-scheme: dark) {
  .standard-input input {
    color: #fff;
  }

  .standard-input .MuiInputLabel-standard.MuiInputLabel-root {
    color: #666666;
    z-index: 1;
  }
  .standard-input .MuiInputLabel-standard.MuiInputLabel-root.Mui-focused {
    color: #666666 !important;
  }
  .standard-input .MuiInputBase-root:before {
    border-color: #fff;
  }
}
