@media (prefers-color-scheme: dark) {
  header {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ) !important;
    background-color: rgba(26, 32, 39, 1) !important;
  }
  header .search-input input {
    color: #fff;
  }
}
