.tiny-card-container {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .columns .center-column {
    width: 70%;
  }
  .columns .right-column {
    width: 30%;
  }
}

@media screen and (min-width: 769px) {
  .columns .center-column {
    width: 60%;
    padding-right: 20px;
  }
  .columns .right-column {
    width: 40%;
    padding-left: 20px;
  }
  .tiny-post {
    transition: ease-in-out all 0.3s;
    overflow: hidden;
  }
  .tiny-post:hover {
    background-color: rgba(29, 161, 242, 0.1) !important;
  }
}

@media screen and (max-width: 768px) {
  .weather {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .tiny-card-container > *:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }
}
@media (prefers-color-scheme: dark) {
  .tiny-card-container > *:not(:last-child) {
    border-bottom: 1px solid #22303c;
  }
}
