.card-layout {
  display: block !important;
  height: auto !important;
  padding-top: 15px !important;
  padding-right: 15px !important;
}
.card-layout > * {
  width: 100% !important;
  margin-bottom: 40px !important;
}
.card-layout > *:last-child {
  margin-bottom: 0 !important;
}

.post .featured-image {
  border-radius: 8px;
  display: block;
  margin-bottom: 25px;
}

.post .author-details {
  margin-bottom: 10px;
}
