.sidebar {
  position: fixed;
  z-index: 9991;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  transition: margin-left ease-in-out 0.3s;
}
.sidebar.expanded {
  margin-left: 0;
}

.sidebar .logo {
  padding: 50px 30px 0 30px;
}
.sidebar .menu {
  padding-top: 50px;
}
.sidebar .menu-item {
  padding: 15px 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: ease-in-out all 0.3s;
}
.sidebar .menu-item:before {
  height: 0;
  animation-name: menu-item-animation;
  animation-duration: 0.2s;
}
.sidebar .menu-item.active:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  height: 54px;
}

.sidebar .menu-item > *:first-child {
  margin-right: 15px;
}

@keyframes menu-item-animation {
  0% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .sidebar {
    border-right: 1px solid #2d2f2f;
    color: #effcef;
    background-color: rgb(22, 24, 25);
  }
  .sidebar .menu-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .sidebar .menu-item.active:before {
    background-color: rgb(111, 90, 247);
  }
}

@media (prefers-color-scheme: light) {
  .sidebar {
    border-right: 1px solid #eaeaea;
    color: #000000;
    background-color: #ffffff;
  }
  .sidebar .menu-item:hover {
    background-color: #faf8f4;
  }
  .sidebar .menu-item.active:before {
    background-color: #000000;
  }
}

@media screen and (min-width: 769x) {
  .sidebar {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    margin-left: -200px;
  }
}
