#signin form > * {
  width: 100%;
}
#signin form > *:not(:first-child) {
  margin-top: 20px;
}
#signin .left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 30px;
  width: 50%;
}
#signin .form-container {
  max-width: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*
  * Separator with text
  */
.separator-text {
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
}
.separator-text:before,
.separator-text:after {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.separator-text:before {
  left: 2em;
  margin-right: -50%;
}
.separator-text:after {
  right: 2em;
  margin-left: -50%;
}
div#googleLogin > * > * iframe {
  margin: 0 auto !important;
}
