.tweets {
  width: auto;
  max-width: 100%;
}
.tweets > * {
  transition: ease-in-out transform 0.2s !important;
}
.tweets > *:hover {
  transform: translateY(-5px);
}
.tweets > *:hover {
  background-color: rgba(29, 161, 242, 0.1) !important;
}

.tweet {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px 20px 65px;
  /*width: calc(100% / 2 - 20px);
  margin: 10px;*/
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.tweet .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.tweet .public-metrics {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
}
.tweet .public-metrics .metric > *:first-child {
  margin-right: 5px;
}
.tweet .tweet-text {
  position: relative;
  z-index: 1;
}
.tweet .tweet-text a {
  color: #000000;
}
.tweet .media {
  max-height: 375px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet .media img {
  height: auto;
  margin: auto;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

@media (prefers-color-scheme: dark) {
  .tweet {
    border: none !important;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ) !important;
    background-color: rgba(26, 32, 39, 1) !important;
    color: #ffffff !important;
  }
  .tweet .tweet-text a {
    color: #ffffff;
  }
}
