.tweets {
  width: auto;
  max-width: 100%;
}
.tweets > * {
  transition: ease-in-out transform 0.2s !important;
}

.tweet {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 12px !important;
  /*padding: 20px 20px 50px;
  width: calc(100% / 2 - 20px);
  margin: 10px;*/
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.tweet a {
  display: block;
}
.tweet .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.tweet .public-metrics {
  display: flex;
}
.tweet .public-metrics .metric > *:first-child {
  margin-right: 5px;
}
.tweet .tweet-text {
  position: relative;
  z-index: 1;
  overflow-wrap: break-word;
}
.tweet .tweet-text a {
  color: #000000;
}
.tweet .media-image {
  max-height: 375px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet .media-image img {
  height: auto;
  margin: auto;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

@media (prefers-color-scheme: dark) {
  .tweet {
    border: none !important;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.02),
      rgba(255, 255, 255, 0.02)
    ) !important;
    background-color: rgba(26, 32, 39, 1) !important;
    color: #ffffff !important;
  }
  .tweet a {
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  .tweet {
    border: none !important;
    color: #000000 !important;
    background-color: #ffffff !important;
  }
  .tweet a,
  .tweet .author h6 {
    color: #000000 !important;
  }
  .tweet .public-metrics svg {
    fill: #888888;
  }
}

@media screen and (min-width: 769px) {
  .tweets > *:hover {
    transform: translateY(-5px);
  }
  .tweets > *:hover {
    background-color: rgba(29, 161, 242, 0.1) !important;
  }
}

@media screen and (max-width: 768px) {
  .tweets {
    margin: 0 !important;
    height: auto !important;
  }
  .tweet {
    width: 100% !important;
    margin: 8px 0 !important;
  }
}
