#gsi {
  background-color: #ffffff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #000000;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

#gsi #glogo {
  width: 19px;
  margin-left: 10px;
}
