#weather .location {
  margin-bottom: 20px;
}
#weather .current-icon {
  width: 90px;
}
#weather .current-icon .icon {
  font-size: 60px;
  margin: 20px 0;
}
#weather #currentConditions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#weather #currentConditions .status {
  font-size: 18px;
}
#weather #currentConditions .temp {
  font-size: 32px;
  line-height: 1;
  margin: 15px 0;
}

#dailyConditions {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#dailyConditions .day {
  text-align: center;
  width: calc(100% / 5);
  padding: 0 10px;
}
#dailyConditions .day .icon {
  font-size: 30px;
  margin: 10px 0;
}

#weather #degree-selector {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
#weather #degree-selector > * {
  padding: 10px 15px 10px 10px;
  transition: ease-in-out all 0.3s;
  border-radius: 12px;
}
#weather #degree-selector > *.active {
  background-color: rgb(111, 90, 247);
}
#weather #degree-selector > *:hover {
  cursor: pointer;
  background-color: rgba(111, 90, 247, 0.3);
}

@media screen and (max-width: 768px) {
  #weather {
    display: none;
  }
}

/*
* Weather icons: https://erikflowers.github.io/weather-icons/
* Weather icons 2.0: https://basmilius.github.io/weather-icons/index-fill.html
* Weather codes from API: https://openweathermap.org/weather-conditions
*/

.wi {
  width: 100%;
}

/* clear */
.wi-01d:before {
  content: "\f00d";
  content: url("../../../assets/weather/clear-day.svg");
}
.wi-01n:before {
  content: "\f02e";
  content: url("../../../assets/weather/clear-night.svg");
}

/* cloudy */
.wi-02d:before {
  content: "\f002";
  content: url("../../../assets/weather/cloudy.svg");
}
.wi-02n:before {
  content: "\f086";
  content: url("../../../assets/weather/cloudy.svg");
}

/* scattered clouds */
.wi-03d:before {
  content: "\f07d";
  content: url("../../../assets/weather/overcast-day.svg");
}
.wi-03n:before {
  content: "\f080";
  content: url("../../../assets/weather/overcast-night.svg");
}

/* broken clouds */
.wi-04d:before {
  content: "\f00c";
  content: url("../../../assets/weather/overcast-night.svg");
}
.wi-04n:before {
  content: "\f083";
  content: url("../../../assets/weather/overcast-night.svg");
}

/* shower rain */
.wi-09d:before {
  content: "\f01a";
  content: url("../../../assets/weather/partly-cloudy-day-rain.svg");
}
.wi-09n:before {
  content: "\f01a";
  content: url("../../../assets/weather/partly-cloudy-night-rain.svg");
}

/* rain */
.wi-10d:before {
  content: "\f008";
  content: url("../../../assets/weather/rain.svg");
}
.wi-10n:before {
  content: "\f029";
  content: url("../../../assets/weather/rain.svg");
}

/* thunderstorms */
.wi-11d:before {
  content: "\f005";
  content: url("../../../assets/weather/thunderstorms-day.svg");
}
.wi-11n:before {
  content: "\f025";
  content: url("../../../assets/weather/thunderstorms-night.svg");
}

/* snow */
.wi-13d:before {
  content: "\f076";
  content: url("../../../assets/weather/snow.svg");
}
.wi-13n:before {
  content: "\f076";
  content: url("../../../assets/weather/snow.svg");
}

/* mist */
.wi-50d:before {
  content: "\f063";
  content: url("../../../assets/weather/mist.svg");
}
.wi-50n:before {
  content: "\f063";
  content: url("../../../assets/weather/mist.svg");
}
